body{
/* font */
font-family: Poppins;
font-size: 14px;

/*debug*/
border: 1px solid black;

/* A4 */
max-width: 794px;
min-height: 1085px;  

margin: 0 auto;

display: flex;
align-items: stretch;
}


aside{
    flex: 3;
    background:#ffa652;
    display: flex;
    flex-direction: column;
    display: none;
    @media(min-width:780px){
        display: block;
    }
}

aside>section{
    padding: 150px 6px;
    margin: auto,0;
}

aside >section > h4 {
    padding-left: 10px;
}
aside>section>a {
    padding-left: 10px;
}
aside>section>span {
    padding-left: 10px;
}


aside > section > a {
    padding-left: 10px;
}

main{
    flex: 7;
    padding:6px;
    display: flex;
    flex-direction: column ;
}

main > header {
    padding: 10px 0;

}

main > header > h1 {
    color: #ffa652;
    font-size: 64px;
    text-align: center;
    font-weight: 400;
    line-height: 64px;
}


main > section > h3{
    font-size: 18px;
}

main > footer {
    font-size:10px
}

section.horizontal{
    display: flex;
}

section.horizontal > section {
    flex:1
}
section.horizontal > section:first-child > p {
    max-width: 260px;
}


main > section > table {
    width: 100%;
}

th{
    text-align: start;
}


div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: stretch;
    flex-grow: 3;
    padding: 6px 6px 50px 6px; 
}

h2.university{
    line-height: 20px;
    padding-bottom: 6px;
}

section.mobile{
    display: block;
    background: #ffa652;
    padding: 6px;
    @media(min-width:780px){
        display: none;
    }
}